{% assign about = data.about %}
<div class="user-details">
  <h1> {{about.title}} </h1>
  <p> {{ about.detail}} </p>
  <a class="project-link" href="{{ about.curriculumLink }}">{{about.curriculum}}</a>
</div>
  <div class="user">
    <div class="tech">
      <h2>{{ about.design}}</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-wpf-plain-wordmark colored"></i>
      <i class="devicon-dotnetcore-plain colored"></i>
      <p> </p>
    </div>
    <div class="tech">
      <h2>{{ about.code }}</h2>
      <i class="devicon-csharp-plain colored"></i>
      <i class="devicon-mysql-plain colored"></i>
      <i class="devicon-microsoftsqlserver-plain-wordmark"></i>
      <i class="devicon-mongodb-plain-wordmark"></i>
      <p> </p>
    </div>
    <div class="tech">
      <h2>{{ about.tools}}</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-visualstudio-plain colored"></i>
      <i class="devicon-vscode-plain-wordmark"></i>
      <p> </p>
    </div>
</div>
