{% assign about = data.about %}
<section id="about">
  <div class="user-details">
    <h1> {{about.title}} </h1>
    <p> {{ about.detail}} </p>
    <a class="project-link" href="{{ about.curriculumLink }}">{{about.curriculum}}</a>
  </div>
    <div class="user">
      <div class="tech">
        <h2>{{ about.design}}</h2>
        <i class="devicon-canva-original colored"></i>
        <i class="devicon-html5-plain-wordmark colored"></i>
        <i class="devicon-dotnetcore-plain colored"></i>
        <i class="devicon-blazor-original colored"></i> 
        <p> </p>
      </div>
      <div class="tech">
        <h2>{{ about.code }}</h2>
        <i class="devicon-csharp-plain colored"></i>
        <i class="devicon-php-plain colored"></i> 
        <i class="devicon-java-plain-wordmark colored"></i> 
        <i class="devicon-docker-plain-wordmark colored"></i>
        <p> </p>
      </div>
      <div class="tech">
        <h2>{{ about.data }}</h2>
        <i class="devicon-azuresqldatabase-plain colored"></i> 
        <i class="devicon-mysql-plain-wordmark colored"></i>
        <i class="devicon-microsoftsqlserver-plain-wordmark colored"></i>
        <i class="devicon-mongodb-plain-wordmark colored"></i>
        <p> </p>
      </div>
      <div class="tech">
        <h2>{{ about.tools}}</h2>
        <i class="devicon-git-plain-wordmark colored"></i>
        <i class="devicon-github-original-wordmark colored"></i>
        <i class="devicon-visualstudio-plain colored"></i>
        <i class="devicon-vscode-plain-wordmark colored"></i>
        <i class="devicon-nuget-original-wordmark colored"></i>
        <i class="devicon-androidstudio-plain-wordmark colored"></i>
        <p> </p>
      </div>
  </div>
</section>  
