{% assign menu = data.menu %} 
<div id="particles-js">
  <div class="header">
      <h1>
        <div class="flip-container">
          <div class="flipper">
            <div class="front">
              <img class="avatar" src="https://avatars.githubusercontent.com/u/22354660" alt="profile picture" />
            </div>
            <div class="back">
              <img class="avatar" src="/assets/img/logo2.png" alt="Logo" />
            </div>
          </div>
        </div> 
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{menu.subtitle}}</span>
      </h1>
      <div class="meuheader-icons">
        <a aria-label="Envie um e-mail" href="mailto:{{site.email}}"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="Chame no Whatsapp" href="{{site.whatsapp}}"><i class="icon fa fa-whatsapp"></i></a>
        <a aria-label="Meu linkedin" target="_blank" href="https://linkedin.com/in/{{site.linkedin_username}}#"><i class="icon fa-brands fa-linkedin" aria-hidden="true"></i></a>
        <a aria-label="Meu Twitter" target="_blank" href="https://x.com/{{site.twitter_username}}#"><i class="icon fa-brands fa-x-twitter" aria-hidden="true"></i></a>
        <a aria-label="Meu Github" target="_blank" href="https://github.com/{{site.github_username}}"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>{{menu.about}}</a>
        <a class="link" href="#projects" data-scroll>{{menu.projects}}</a>
        <a class="link" href="{{menu.link}}" >{{menu.language}}</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
