
<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark" style="padding: 2rem 0;">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center" href="{{site.url}}" style="font-size: 1.5rem; font-weight: 600;">
            <img src="/assets/img/logo.png" alt="FabioHCNobre" width="45" height="45" class="d-inline-block align-top me-3"> 
            <span>FabioHCNobre</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{site.url}}#about" style="font-size: 1.1rem; padding: 0.5rem 1rem;">{{data.menu.about}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{site.url}}#projects" style="font-size: 1.1rem; padding: 0.5rem 1rem;">{{data.menu.projects}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{data.menu.link}}" style="font-size: 1.1rem; padding: 0.5rem 1rem;">{{data.menu.language}}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>