<!DOCTYPE html>
{% if page.language == "en" %}
{% assign data = site.data.dataen %}
<html lang="en">
{% else %}
{% assign data = site.data.data %}
<html lang="pt-BR">
{% endif %} 
  {% include head.html %}
  <body>
      {% include header.html %}
      <section id="about">
        {% include about.html %}
      </section>
      <section id="projects">
        {% include projects.html %}
      </section>
        {{ content }}
      {% include footer.html %}
      {% include script.html %}
  </body>
